<body class="hold-transition sidebar-mini" style="background-color: rgb(210, 211, 212); min-height: 150%;">

 

  <!-- Site wrapper -->
  <div style="margin-left: 3%; margin-right: 3%; margin-bottom: 1%; margin-top: 3mm; border-radius: 3mm;">

  
  <div class="wrapper">
      <header class="main-header">
          <a href="index.html" class="logo" style="background-color: transparent;"> <!-- Logo -->
              <span class="logo-mini">
                  Orbix Bus Admin
              </span>
              <span class="logo-lg" style="margin: 1mm;">
                  <img style="width: 100%; height: 100%;">
                  <!--<img src="assets/dist/img/zana-logo.png" alt="">-->
              </span>
          </a>
          <!-- Header Navbar -->
          <nav class="navbar navbar-static-top">
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                  <span class="sr-only">Toggle navigation</span>
                  <span class="fa fa-tasks"></span>
              </a>
              <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 

                              <span style="color: rgb(255, 255, 255); font-size: large; font-weight: bold;"></span><i class="fa fa-user"></i>
                            <div>
                          </div>
                          </a>
                          <ul class="dropdown-menu">
                              <li style="height: 2cm;"><a href="#" style="height: 2cm;"> <h4><i class="fa fa-sign-out"></i>Logout</h4></a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- =============================================== -->
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
          <br>
          <!-- sidebar -->
          <div class="sidebar">
              
              <!-- sidebar menu -->
                <ul class="sidebar-menu">
                    <li>
                      <a routerLink="/dashboard"><i class="fa fa-hospital-o"></i><span>My Dashboard</span></a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-wheelchair"></i><span>Company</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="cursor: pointer;">
                            <li><a routerLink="/patient-register">New Company</a></li>
                            <li><a routerLink="/patient-register">Company List</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div> <!-- /.sidebar -->
        </aside>
      <!-- =============================================== -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <router-outlet />
      </div><!-- /.content-wrapper -->
       
      <footer class="main-footer">
          <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
          <strong>Copyright &copy; 2024 <a href="#">Orbix</a>.</strong> All rights reserved.
      </footer>
  </div> <!-- ./wrapper -->
  </div>

</body>

